<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
        <link rel="icon" href="{{ '/assets/images/webTabIcon.png' | relative_url }}" type="image/x-icon">
    </head>
    <body>        
        <div class="header" >
            <a href="{{ '/index.html' | relative_url }}">
                <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="logo"  class="logo-header">
            </a>          

            <div class="header-index">
                <a href="{{ '/equipo.html' | relative_url }}"><button class="about-us"><i class="bi bi-people-fill"></i></button></a>
                <button class="indexBtn"><i class="bi bi-list-columns-reverse"></i></button>        
            </div>
        </div>  

        <div class="overlay-index">
            <div class="index">
                <h1>Índice</h1>
                <br>
                <h2><a href="{{ '/industria4.html' | relative_url }}">Introducción a la automatización</a></h2>
                <h2><a href="{{ '/planeacion.html' | relative_url }}">Planeación</a></h2>
                <h2><a href="{{ '/gestion.html' | relative_url }}">Gestión de Producción</a></h2>
                <h2><a href="{{ '/economia.html' | relative_url }}">Evaluación económica</a></h2>
                <h2><a href="{{ '/robotica.html' | relative_url }}">Celda robótica</a></h2>
                <h2><a href="{{ '/controladores.html' | relative_url }}">Controladores Industriales</a></h2>
                <h2><a href="{{ '/dfactory.html' | relative_url }}">Digital Factory</a></h2>
                <h2><a href="{{ '/scada.html' | relative_url }}">SCADA</a></h2>
            </div>
        </div>
        {{ content }}

        <div class="footer">
            <div class="logo-footer">
                <h1>Autounal Solutions</h1>
                <a href="https://github.com/AutoUnal-Solutions/Documentos-APM">
                    <button class="git"><i class="bi bi-github"></i></button>
                </a>
                <a href="https://www.youtube.com/@AutoUnalSolutions">
                    <button class="youtube"><i class="bi bi-youtube"></i></button>
                </a>            
            </div>    
            <div class="project-footer"><h4>Proyecto APM-2025-2S</h4></div>
        </div>

        <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
        
    </body>
</html>